body{  
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 80px; 
    background: #FFFFFF;       
}
h1{
    color: black;
    font-size: 50px;
    line-height: 1.4em;
    margin: 0;
}
.btn{
    background: rgba(255, 104, 97, 1);
    border-radius: 100px;
    color: #FFFFFF;
    padding: 22px 70px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 219px;
}

.introt{
    font-size: 18px;
    margin: 30px 0px;
    line-height: 1.4em;
}

*{ 
    box-sizing: border-box;
}
    
.container{
    width: 1110px;
    margin: 0 auto;
}

.offer{
    display: flex;
    align-items: center;
}

.feature{
    display: flex;
    
    margin: 40px;
    text-align: justify;
}

.middle h2{
    margin: 50px;
}

.middle{
    /* width: 757px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.4em;
}

section{
    padding-top: 120px;   
    margin-top: auto;
}

.ladybird{
    display: flex;
    align-items: center;
    padding: 76px 76px 100px 112px;
    background-color: #FFF6DF;
}
h2{
    font-size: 40px;
}

 .offer.text{
    width: 465px;
    margin-right : 180px;
 }
 .about{
    display: flex;
    align-items: center;
 }